* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 700px;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #94a3b8;
}

.card {
  background: #1e293b;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 15px;
}

.task-input {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.85;
}

ul {
  margin-top: 15px;
}

li {
  background: #334155;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  list-style: none;
}

.timer {
  font-size: 4rem;
  text-align: center;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#streakCount {
  font-size: 2rem;
  margin: 10px 0;
}
